:host{
  display: flex;
  gap: 2rem;
  height: 100%;
  align-items: start;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}
h3{
  margin: 0;
}

.main-menu{
  margin-top: 0.6rem;
  width: 320px;
  display: flex;
  flex-direction: column;
}

li{
  display: flex;
  width: 100%;
  transition: all 0.3s ease 0s;
  align-items: center;
}

.label{
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.4rem;
  transition: all 0.3s ease 0s;
}

.label:hover{
    cursor: pointer;
    background-color: #d0e1f6;
    border-radius: 5px;
}

.favorite {
 fill: rgb(233, 204, 40) !important; 
}

ul svg {
  width: 42px;
  height: 42px;
  stroke: rgb(0, 0, 0);
  transition: fill 0.3s ease;
  cursor: pointer;
  :hover {
    fill: rgb(233, 204, 40);
  }
}

.search-tool{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 20px;
  cursor: pointer;
}

.search-tool svg{
  fill: #8797A0;
  width: 28px;
  height: 28px;
}

.search-tool-label{
  font-size: 1.2rem;
  font-weight: 600;
  color: #8797A0;
}

.st-active{
  svg{
    fill: #155883;
  }
  .search-tool-label{
    color: #155883;
  }
}