  <div class="main-menu">
    
    <div 
      class="search-tool" 
      (click)="toggleQuickSearch()"  
      [class.st-active]="isQuickSearchActive" 
    >
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M40-120v-200h80v120h120v80H40Zm680 0v-80h120v-120h80v200H720ZM160-240v-480h80v480h-80Zm120 0v-480h40v480h-40Zm120 0v-480h80v480h-80Zm120 0v-480h120v480H520Zm160 0v-480h40v480h-40Zm80 0v-480h40v480h-40ZM40-640v-200h200v80H120v120H40Zm800 0v-120H720v-80h200v200h-80Z"/></svg>
      <div class="search-tool-label">Quick Search</div>
      <input
        #quickSearchInput
        id="quickSearchInput"
        type="text"
        class="hidden-input"
        autocomplete="off"
      >
    </div>
    
    <h3>Projects:</h3>
    <ul>
      <li *ngFor="let project of projects">
        <svg 
        xmlns="http://www.w3.org/2000/svg" 
        height="24px" 
        viewBox="0 -960 960 960" 
        width="24px" 
        [class.favorite]="favoriteProjectId === project.ID" 
        (click)="setFavoriteProject(project.ID)">
        <path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143Z"/>
      </svg>
        <div class="label"  (click)="selectProject(project)">
          {{ project.Description }}
        </div>
      </li>
    </ul>
  </div>
  
  <div class="project-details">
    <div *ngIf="isDashboardPage" class="no-project-message">
      Select a project
    </div>
    <router-outlet *ngIf="!isDashboardPage"></router-outlet>
  </div>