<div class="authform-box">
    <div class="logo-box">
      <img src='assets/CCSLogo.png' alt="Logo"/>
    </div>
    <div class="login-box">
      <h2 class="title">Shipment Inventory</h2>
      <p class="auth-subtitle">Scan your personal card</p>
      <div class="scan-icon-box">
        <img src="assets/icons/qr_code_scanner.svg" alt="">
      </div>
      <input
        id="scan-auth"
        #scanInput
        type="text"
        class="hidden-input"
        (blur)="setFocus()"
      />

      <span class="logo-box-note">Notification</span>
    </div>
</div>
