.container{
    display: flex;
    gap:4rem;
    width: 100%;
}

.bold{
    font-weight: bold;
}
.general-info{
    width: 260px;
}
.box-container{
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 0.4rem;
    height:fit-content;
    max-height: 680px;
    overflow-y: auto;
    width: 100%;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 0.4rem;
    height:fit-content;
    font-size: 12px;
    font-weight: bold;
    color:rgb(170, 175, 175);
    border: 1px solid var(--accent-color);
    text-align: center;
}

.delivered{
    background-color: var(--accent-color);
    color: white;
}

.icon-box{
    display: flex;
    width: 260px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.note-block{
    position: absolute;
    width: 260px;
    display: flex;
    top: 0;
    left: 0;
}

.icon-lable{
    margin-top: 120px;
}

.note-box{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin: 20px 0;
    transition: opacity 0.3s ease-in-out;

    svg{
        width: 48px;
        height: 48px;
         animation: drawSVG 1s ease-in-out forwards;
    }

}


.success{
    svg{
        fill: green;
    }
    span{
        color: green;
    }
}

.error{
    svg{
        fill: red;
    }
    span{
        color: red;
    }
}

.context-menu {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
}

.context-menu button {
    background: var(--foreground-color);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.context-menu button:hover {
    background: var(--primary-color);
}

@media screen and (max-width: 600px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .box-container{
        max-height: none;
    }
    .general-info{
        width: 100%;
    }
    .icon-box{
        width: 100%;
    }
    .note-block{
        width: 100%;
    }
}


