:host{
  width: 100%;
}

h2{
    margin: 0;
  }

  p{
    margin: 0;
  }

  .info-line {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
  }

  .deliveries-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    align-items: center;
    gap: 0.2rem;
    text-align: center;
  }
  
  .grid-header {
    font-weight: bold;
    background-color: #d0e1f6;
    border: 1px solid #ddd;
    padding: 0.4rem;
    border-radius: 5px;
  }
  
  .grid-item {
    padding: 0.4rem;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;

  }

  .no-data {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #777;
    margin-top: 20px;
  }

  .box-link {
    color: #155883;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .box-link:hover {
    text-decoration: underline;
    color: #0056b3;
  }