<h2 *ngIf="project">{{ project.Description }}</h2>

<div *ngIf="stats && stats.total === 0 && stats.deliveries.length === 0" class="no-data">
  There is no stats for this project in database
</div>

<div *ngIf="stats && (stats.total > 0 || stats.deliveries.length > 0)">
  <div class="info-line">
    <p><strong>Total boxes:</strong>  {{ stats.total }}</p> 
    <p><strong>Pages per box:</strong>  
    {{ stats.average_pages | number:'1.0-0'}}
    </p> 
  </div>
  <div class="info-line">
    <p><strong>Scanned pages:</strong>  
      {{ stats.scanned_pages }}
      </p> 
      <p><strong>Reviewed pages:</strong>  
        {{ stats.reviewed_pages }}
      </p> 
  </div>
  <div class="info-line">
    <p><strong>Boxes in Storage:</strong>  
      {{ stats.total - stats.statuses.boxed - stats.statuses.returned_uns -stats.statuses.returned }}
    </p> 
    <p><strong>Ready for Return:</strong>  
      {{ stats.statuses.reviewc + stats.statuses.uploaded + stats.statuses.finalized }}
    </p> 
  </div>
  
  <div class="deliveries-grid">
    <div class="grid-header">Delivery Date</div>
    <div class="grid-header">Number of Boxes</div>
    <div class="grid-header">Range</div>
    <div class="grid-header">Progress</div>
  
    <ng-container *ngFor="let delivery of deliveries">
      <div class="grid-item">
        <a 
          [routerLink]="['/dashboard/project', project?.ID, formatDate(delivery.RegisterDate)]" 
          [state]="{ boxes: delivery.boxes}"
          class="box-link"
        >
          {{ formatDate(delivery.RegisterDate) }}
        </a>
      </div>
      
      <div class="grid-item">{{ delivery.total_rows }}</div>
      <div class="grid-item">{{ generateBoxRange(delivery.boxes) }}</div>
      <div class="grid-item">
        <app-progress-chart 
          [untouched]="delivery.untouched"
          [ip]="delivery.ip"
          [scanned]="delivery.scanned"
          [reviewed]="delivery.reviewed"
          [returned]="delivery.returned"
          [uploaded]="delivery.uploaded"
          [total_rows]="delivery.total_rows"
          >
          
        </app-progress-chart>
      </div>
    </ng-container>
  </div>
</div>



