<div>
  <h2>Delivery Details for {{ deliveryDate }} 
    <svg class="copy-icon" (click)="copyTableToClipboard()" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
      <path d="M360-240q-33 0-56.5-23.5T280-320v-480q0-33 23.5-56.5T360-880h360q33 0 56.5 23.5T800-800v480q0 33-23.5 56.5T720-240H360Zm0-80h360v-480H360v480ZM200-80q-33 0-56.5-23.5T120-160v-560h80v560h440v80H200Zm160-240v-480 480Z"/>
    </svg>
  </h2> 
</div>

<div class="filter-container">
  <label *ngFor="let status of getStatusFilterKeys()" class="toggle-switch">
    <input type="checkbox" [checked]="statusFilters[status].active" (change)="toggleFilter(status)">
    <span class="slider"></span>
    {{ status }}
  </label>
</div>

<div class="filter-info">
    Showing <b>{{ filteredBoxes.length }}</b> of {{ boxes.length }} boxes
</div>

<div class="deliveries-grid">

  <div class="grid-header">#</div>
  <div class="grid-header sortable" (click)="sortByBoxGUID()">
    BoxGUID
    <span class="sort-icon">
      <ng-container [ngSwitch]="sortDirection">
        <span *ngSwitchCase="'asc'">&#9650;</span>
        <span *ngSwitchCase="'desc'">&#9660;</span> 
        <span *ngSwitchDefault style="opacity: 0.3;">&#9651;</span> 
      </ng-container>
    </span>
  </div>
  <div class="grid-header">Range</div>
  <div class="grid-header">Status</div>
  <div class="grid-header">Lifecycle</div>


  <ng-container *ngFor="let box of filteredBoxes; let i = index">
    <div class="grid-item">{{ i + 1 }}</div>
    <div class="grid-item">
      <a 
        class="box-link"
        [routerLink]="['/dashboard/box', box.ID]"
      >
        {{ box.BoxGUID }}
      </a>
      
    </div>
    <div class="grid-item">{{ box.StartFileNumber }} - {{box.EndFileNumber}}</div>
    <div class="grid-item">{{ box.StatusLabel }}</div>
    <div class="grid-item"></div>
  </ng-container>
</div>
