.delivery-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .delivery-table th,
  .delivery-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .delivery-table th {
    background-color: #f4f4f4;
  }

  .copy-icon{
    cursor: pointer;
    margin-left: 20px;
    align-items: center;
  }
  