.container{
    display: flex;
    gap:4rem;
    width: 100%;
}

.bold{
    font-weight: bold;
}
.general-info{
    width: 260px;
}
.box-container{
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 0.4rem;
    height:fit-content;
    max-height: 600px;
    overflow-y: auto;
    width: 100%;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 0.4rem;
    height:fit-content;
    font-size: 12px;
    font-weight: bold;
    color:rgb(170, 175, 175);
    border: 1px solid var(--accent-color);
    text-align: center;
}

.save-btn-box{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.save-button {
    display: flex;
    padding: 0;
    border: none;
  
    &:hover {
      cursor: pointer;
  
      svg path {
        fill: var(--primary-color);
      }
    }
  
    &:disabled, &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
      svg path {
        fill: var(--foreground-color);
      }
    }
  
    ::ng-deep:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  
    svg {
      width: 24px;
      height: 24px;
      transition: all 0.3s ease-in-out;
    }
  }
  
  

.highlighted{
    background-color: var(--accent-color);
    color: white;
    transition: opacity 0.5s ease-in-out;
}

.icon-box{
    display: flex;
    width: 260px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.icon-label{
    margin-top: 120px;
}

.note-block {
    position: absolute;
    width: 260px;
    display: flex;
    top: 0;
    left: 0;
}

.note-box {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin: 20px 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    svg{
        width: 48px;
        height: 48px;
    }
}

.note-box.show {
    opacity: 1;
}

.note-box.show svg {
    animation: rotateIn 0.3s ease-out forwards;
}

.note-box.show span {
    animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes rotateIn {
    from {
        transform: rotate(-180deg);
        opacity: 0;
    }
    to {
        transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.success{
    svg{
        fill: green;
    }
    span{
        color: green;
    }
}

.error{
    svg{
        fill: red;
    }
    span{
        color: red;
    }
}

.context-menu {
    position: absolute;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 4px;

}

.context-menu button {
    background: var(--foreground-color);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.context-menu button:hover {
    background: var(--primary-color);
}

@media screen and (max-width: 600px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .box-container{
        max-height: none;
    }
    .general-info{
        width: 100%;
    }
    .icon-box{
        width: 100%;
    }
    .note-block{
        width: 100%;
    }
}


